ci:
    autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: .+\.py$

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.14
    hooks:
    - id: mdformat
      additional_dependencies:
        - mdformat-black
        - mdformat-myst

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
        - id: nbqa-black
        - id: nbqa-pyupgrade
          args: [--py37-plus]
        - id: nbqa-isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
     - id: pyupgrade
       args:
         - "--py37-plus"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
